{% layout 'layout' %}
{% block %}
{% render 'repo_nav', owner: owner, repo: repo, refEnc: refEnc %}
<h2>Blob: {{ fileName }}</h2>
<p>
  <a class="btn secondary" href="{{ viewRawHref }}">View raw</a>
  <a class="btn" href="{{ rawHref }}">Download</a>
</p>
{{ contentHtml | raw }}
{% endblock %}
